*{
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100%;
  }
  
  body {
    margin: 20px;
    padding-top: 70px;
    background-image: url(images/background.png);
    background-size: cover;
  }

.title{
    font-size:10px; 
    z-index: 5;
}
.banner {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    position: sticky;
    position: absolute;
    width: 100%;
    height: 12%;
    top: 0;
    left: 0;
    z-index: 2;

}

#logo {
    width: 60px;
    height: 75px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#logo2{
    position:static;
    height: 50px;
    width: 410px;
}

#healer {
    top: 70%;
    position: absolute;

}


.print{
    justify-content: center;
    align-items: center;
    display: flex;

}
#bosses{
    width: 150px;
    height: auto;
    top: 65%;
    left: 85%;
    position: absolute;
}
#bosses:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    /* content: url(.images/); */
}


#healer {
    width: 150px;
  height: auto;
  top: 70%;
  position: absolute;
  transform-origin: top left;
  z-index: 2;

}
#healer:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#team{
    margin-top: 5%;
    height: 65px;
    width:auto;
}
.table{
    margin: 0 auto;
    text-align: center;
}
#table td {
    text-align: center;
    vertical-align: middle;

  } 

.pokeWrite{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.teamcreate button{
    background-color: red;
    color: yellow;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10%;
    margin-top:1%;
    cursor: pointer;
    padding: 3px;
}

#createTeam:hover{
    color: black;
}

.swiper{
    width: 600px;
    height: 300px;
    position: relative;
    float: right;
    background-color: white;


}

.swiper-slide,img{

    width: 100%;
    height: 100%;
    
    width: 250px;
    height: 250px;


}
