*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/background.png);
    background-size: cover;
  }


.title{
    font-size:10px; 
    z-index: 5;
}
.banner {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 12%;
    top: 0;
    left: 0;
    z-index: 2;

}

#logo {
    width: 60px;
    height: 75px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#logo2{
    position:static;
    height: 50px;
    width: 410px;
}


#station{
    width: 150px;
    height: auto;
    top: 65%;
    left: 85%;
    position: absolute;
}
#station:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#title{
        margin-top: 6%;
        position: absolute;
        width: 450px;
        height: auto;
}

#title{
    margin-top: 6%;
    position: absolute;
    width: 400px;
    height: auto;
    border: 5px solid black;
}

#title2{
    margin-top: 6%;
    position: absolute;
    width: 400px;
    height: auto;
    margin-left: 450px;
    border: 5px solid black;

}

#title3{
    margin-top: 6%;
    position: absolute;
    width: 400px;
    height: auto;
    margin-left: 900px;
    border: 5px solid black;

}
#title4{
        margin-top: 350px;
        position: absolute;
        width: 400px;
        height: auto;
        border: 5px solid black;

}
#title5{
    margin-top: 350px;
    position: absolute;
    width: 400px;
    margin-left: 450px;
    border: 5px solid black;

    height: auto;
}




